{% extends "mebel/base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
  <h1>Авторизация</h1>
  {% if form.errors %}
    <p>
        Ошибка в имени пользователя или неверный пароль
    </p>
  {% else %}
    <p>
      Пожалуйста, введите данные авторизации, выданные вам администратором:
    </p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'account:login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Войти"></p>
    </form>
    <p>
      <a href="{% url "account:password_reset" %}">
        Забыли свой пароль?
      </a>
    </p>
  </div>
{% endblock %}