{% extends "mebel/base.html" %}
{% load static %}

{% block title %}
  {{ material.name }}
{% endblock %}
{% block content %}
  <div class="material-detail">
    <img src="{% if material.image %}{{ material.image.url }}{% else %}
    {% static "img/no_image.png" %}{% endif %}">
    <h1>{{ material.name }}</h1>
    <h2>
      <a href="{{ material.category.get_absolute_url }}">
        {{ material.category }}
      </a>
    </h2>
    <p class="price">${{ material.price }}</p>
    <form action="{% url "ordercart:ordercart_add" material.id %}" method="post">
      {{ ordercart_material_form }}
      {% csrf_token %}
      <input type="submit" value="Add to ordercart">
    </form>
    {{ material.description|linebreaks }}
  </div>
{% endblock %}