{% extends "mebel/base.html" %}
{% load static %}

{% block title %}Панель управления{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'mebel/css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="dashboard-container">
  <h1>Dashboard</h1>
  <div class="profile-actions">
    <p>
      Welcome to your dashboard. You can <a href="{% url 'account:edit' %}">edit your profile</a>
      or <a href="{% url 'account:password_change' %}">change your password</a>.
    </p>
  </div>

  <div class="main-actions">
    <div class="action-card">
      <a href="{% url 'account:profile' %}" class="btn btn-primary">Мой профиль</a>
    </div>
    <div class="action-card">
      <a href="{% url 'orders:order_create' %}" class="btn btn-primary">Создание заказа</a>
    </div>
    <div class="action-card">
      <a href="{% url 'mebel:material_list' %}" class="btn btn-primary">Просмотр Материалов</a>
    </div>
    <div class="action-card">
      <a href="{% url 'orders:order_list' %}" class="btn btn-primary">Просмотр Заказов</a>
    </div>
  </div>
</div>
{% endblock %}